@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);

    .text-primary {
      color: hsl(0, 0%, 0%);
    }

    a {
      @apply text-blue-600 hover:text-blue-800;
    }

    code {
      @apply bg-gray-100 p-1 rounded;
    }

    .bg-navbar {
      background-color: hsl(0, 0%, 95%);
    }

    .bg-card {
      background-color: hsl(0, 0%, 95%);
    }

    .form-ui {
      background-color: hsl(0, 0%, 98%);
      @apply w-full max-w-4xl mx-auto p-6 rounded-2xl shadow-lg ;
    }
  }

  .dark {
    body {
      background-color: hsl(0, 0%, 15%);
      color: hsl(0, 0%, 100%);
    }
    code {
      @apply bg-gray-800 text-gray-200;
    }

    .text-primary {
      color: hsl(0, 0%, 100%);
    }

    a {
      @apply text-blue-400;
    }

    .bg-navbar {
      background-color: hsl(0, 0%, 10%);
    }

    .bg-card {
      background-color: hsl(0 0% 10%);
    }

    .form-ui {
      background-color: hsl(0, 0%, 19%);
      select option {
        background-color: hsl(0, 0%, 19%);
      }
    }
  }

  .prose p {
    margin-bottom: 1.05em;
  }

  .prose h2,
  .prose h3 {
    margin-top: 1.25em;
    margin-bottom: 0.75em;
  }

  .prose ul,
  .prose ol {
    margin-bottom: 1.25em;
  }

  .prose code {
    margin-bottom: 1.15rem;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }

  .boundary {
    @apply container mx-auto px-2 md:px-4 lg:px-8 xl:px-12;
  }

  .bg-primary {
    background-color: hsl(216, 89%, 55%);
  }

  .text-brand {
    color: hsl(216, 97%, 53%);
  }
  
  .primary-outline {
    border-color: hsl(215, 50%, 40%);
  }

  .text-accent {
    color: #10b981;
  }

  .border-primary {
    border-color: hsl(215, 53%, 47%);
  }

  .btn-primary {
    background-color: hsl(276, 100%, 43%);
    @apply px-6 py-2 rounded-lg cursor-pointer font-semibold hover:bg-purple-800 text-white transition disabled:opacity-50;
  }
}
