@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(60, 100%, 97.95%);
    color: hsl(0, 0%, 0%);

    .text-primary {
      color: hsl(0, 0%, 0%);
    };

    .text-secondary {
      color: hsl(0, 100%, 100%);
    }

    .text-muted {
      color: hsl(0, 0%, 45%);
    }

     .text-brand {
    color: hsl(221, 81%, 49%);
  }

    a {
      @apply text-blue-600 hover:text-blue-800;
    }

    code {
      @apply bg-gray-100 p-1 rounded;
    }

    .bg-navbar {
      background-color: hsl(60, 1000%, 98%);
    }

    .bg-secondary {
    background-color : hsl(60, 0%, 90%);
    }

    .bg-footer {
        background-color: hsl(60, 76%, 96%);
    }

    .bg-card {
      background-color: hsl(0, 0%, 100%);
    }

    .form-ui {
      background-color: hsl(0, 0%, 98%);
      @apply w-full max-w-4xl mx-auto p-6 rounded-2xl shadow-lg ;
    }
  }

  .dark {
    body {
      background-color: hsl(0, 0%, 15%);
      color: hsl(0, 0%, 100%);
    }
    code {
      @apply bg-gray-800 text-gray-200;
    }

    .text-primary {
      color: hsl(0, 0%, 100%);
    }

    .text-secondary {
      color: hsl(0, 0%, 15%);
    }
    .text-muted {
      color: hsl(0, 0%, 85%);
    }

     .text-brand {
    color: hsl(221, 100%, 65%);
  }

    a {
      @apply text-blue-400;
    }

    .bg-navbar, .bg-secondary {
      background-color: hsl(0, 0%, 10%);
    }

    .bg-footer {
      background-color: hsl(0, 0%, 17%);
    }

    .bg-card {
      background-color: hsl(0 0% 10%);
    }

    .form-ui {
      background-color: hsl(0, 0%, 19%);
      select option {
        background-color: hsl(0, 0%, 19%);
      }
    }
  }

  .prose p {
    margin-bottom: 1.05em;
  }

  .prose h2,
  .prose h3 {
    margin-top: 1.25em;
    margin-bottom: 0.75em;
  }

  .prose ul,
  .prose ol {
    margin-bottom: 1.25em;
  }

  .prose code {
    margin-bottom: 1.15rem;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }

  .boundary {
    @apply container mx-auto px-2 md:px-4 lg:px-8 xl:px-12;
  }

  .bg-primary {
    background-color: hsl(221, 97%, 54%);
  }

  .primary-outline {
    border-color: hsl(215, 50%, 40%);
  }

  .text-accent {
    color: #10b981;
  }

  .border-primary {
    border-color: hsl(215, 52%, 40%);
  };

  .text-area {
    @apply border rounded-lg w-full p-3 font-mono text-sm bg-transparent min-h-[250px] placeholder:text-gray-400 placeholder:text-base
  };

  .primary-gradient {
   @apply bg-gradient-to-tr from-blue-600 via-blue-500 to-blue-400
  }
}
